.mask{
	width: 100%;
	height: 100%;
	background-color: rgba(242,242,242, 0.5);
	position: fixed;
	left: 0;
	top: 0;
	text-align: center;
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
  	align-items: center;
    -webkit-justify-content: center;
	  justify-content: center;
	  z-index: 99999;
}
.mask>div{
	border: 1px solid #D0D0D0;
	font-size: 12px;
	padding: 5px 15px;
	max-width: 150px;
	color: #494A5F;
	background: url(../assets/loading.gif) no-repeat 5px 5px;
	padding-left: 25px;
	background-color: #FFFFFF;
	word-wrap: break-word;
	margin: 0 auto;
}
/* 
.scroll-off{
	position:fixed;
	overflow-y:hidden
} */
